@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

.box-shadow-leet-code-orange {
    box-shadow: 1px 1px 3px 1px #e7a41f;
}   

.box-shadow-leet-code-orange-hover:hover {
    box-shadow: 1px 1px 3px 1px #e7a41f;
}   

.box-shadow-code-chef-red-ef5350 {
    box-shadow: 1px 1px 3px 1px #ef5350;
}   

.box-shadow-code-chef-red-ef5350-hover:hover {
    box-shadow: 1px 1px 3px 1px #ef5350;
}

.box-shadow-hacker-rank-green {
    box-shadow: 1px 1px 3px 1px #2fc363;
}   

.box-shadow-hacker-rank-green-hover:hover {
    box-shadow: 1px 1px 3px 1px #2fc363;
}

.box-shadow-superprof-orange {
    box-shadow: 1px 1px 3px 1px #ff6363;
}

.box-shadow-superprof-orange-hover:hover {
    box-shadow: 1px 1px 3px 1px #ff6363;
}
.box-shadow-blue-4081e3 {
    box-shadow: 1px 1px 3px 1px #4081e3;
}   

.box-shadow-black-000000:hover {
    box-shadow: 1px 1px 3px 1px #000000;
}   

.font-montserrat-1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-poppins-1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }